version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: sandlabx-postgres
    environment:
      POSTGRES_USER: guacamole_user
      POSTGRES_PASSWORD: guacamole_pass
      POSTGRES_DB: guacamole_db
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./initdb-schema.sql:/docker-entrypoint-initdb.d/initdb.sql
      - ./backend/schema/nodes-schema.sql:/docker-entrypoint-initdb.d/nodes-schema.sql
    ports:
      - "5432:5432"
    networks:
      - sandboxlab-network

  guacd:
    image: guacamole/guacd:1.5.4
    container_name: sandlabx-guacd
    networks:
      - sandboxlab-network

  guacamole:
    image: guacamole/guacamole:1.5.4
    container_name: sandlabx-guacamole
    environment:
      GUACD_HOSTNAME: guacd
      POSTGRES_HOSTNAME: postgres
      POSTGRES_DATABASE: guacamole_db
      POSTGRES_USER: guacamole_user
      POSTGRES_PASSWORD: guacamole_pass
    ports:
      - "8081:8080"
    depends_on:
      - guacd
      - postgres
    networks:
      - sandboxlab-network

  backend:
    build: ./backend
    container_name: sandlabx-backend
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_ADMIN
    devices:
      - /dev/kvm:/dev/kvm
      - /dev/net/tun:/dev/net/tun
    environment:
      DATABASE_URL: postgresql://guacamole_user:guacamole_pass@postgres:5432/guacamole_db
      GUAC_BASE_URL: http://guacamole:8080/guacamole
      STATE_FILE: /app/data/nodes-state.json
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: guacamole_db
      DB_USER: guacamole_user
      DB_PASSWORD: guacamole_pass
      JWT_SECRET: sandlabx-secret-2025
    ports:
      - "3001:3001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3001/api/health" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    volumes:
      - backend-data:/app/data
      - ./images:/images
      - ./overlays:/overlays
      - ./vms:/vms
      - ./backend/modules:/app/modules
      - ./backend/middleware:/app/middleware
      - ./backend/controllers:/app/controllers
      - ./backend/server.js:/app/server.js
    depends_on:
      - postgres
      - guacamole
    networks:
      - sandboxlab-network

  frontend:
    build: ./frontend
    container_name: sandlabx-frontend
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3001/api
      NEXT_PUBLIC_GUAC_URL: http://localhost:8081/guacamole
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/app:/app/app
      - ./frontend/components:/app/components
      - ./frontend/lib:/app/lib
      - ./frontend/hooks:/app/hooks
    depends_on:
      - backend
    networks:
      - sandboxlab-network

volumes:
  pgdata:
  backend-data:


networks:
  sandboxlab-network:
    driver: bridge
